.blog-row{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 0;
   
  
}

@media screen and (max-width: 991px) {
    .blog-row{
    flex-wrap: wrap;

    }
}

.blog-row img {
    max-width: 100%;
    height: auto;
}

.resvcol{
    flex-direction: column-reverse;
}