@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

:root {
  --white : #fff;
  --light-bg :rgba(16, 20, 24, 0.70);
  --btn-labal : #FFFFFC;
  --btn-color : #FFC;
}

body {
  background-color: var(--white);
  background-image: url(../public/secondayBG.gif);
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


button,
input,
textarea,
select {
  box-shadow: none;
}

